@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #C1343F;
}

p {
  font-family: inherit;
  font-weight: 100;
}


li {
  font-family: inherit;
  font-weight: 100;
}


a {
  color: #DD4F53;
}




/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/Ninja.jpg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





/**  Navbar **/

header .navbar {
  background: #CF5565;
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}


header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
}

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.friendslist {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#friendList .friendslist-img {
  margin-right: 20px;
}

.friendslist-title {
  font-size: 1.7em;
}

#home .friendslist-title {
  font-size: 1.5em;
}

#friendDetail .friendslist-title {
  font-size: 2.4em;
}

#friendDetail .friendslist-img {
  margin: 20px 0;
}

.form-control {
  font-weight: 100;
  font-size: 1.7rem;
}

.chat-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 20px 0;
  background-color: #FFEB8B;
}





/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: .9em;
  padding: 0 10px;
}

.feedback, .feedback-form-title {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}


.feedback-title {
  font-size: 1.2em;
}

.feedback-form-title {
  font-size: 2em;
}

.feedback-name {
  font-size: .6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: .9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}




/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  margin-left: 0px
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
