<div class="maincontent">

  <article class="article">
    <h1 class="article-title">About ninzatech</h1>
      <p>ninzatech is  something like different from others . Its new ideas make it different from others. </p>

  </article><!-- article -->
</div>
